* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}

.btn_box {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.btn_box button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn_box .fa {
    margin-right: 20px;
}

.btn_box button:hover .fa {
    color: #ff7846;
}

.content_right img {
    width: 350px;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
    position: absolute;
    transform: translate(100%);
}

.content_left {
    flex-basis: 50%;
}

.content_left p {
    font-size: 13px;
    padding: 30px 0;
}

.content_left a {
    width: 150px;
    display: block;
    padding: 8px 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ff7846;
    color: #fff;
    text-align: center;
}

.content_right {
    flex-basis: 50%;
    text-align: center;
}

#content1 {
    transform: translate(0px);
}

#btn1 {
    color: #ff7846;
}
