*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #003454, #00506a, #006d76, #008979);
}

.gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.Button{
    display:flex ;
    gap: 20px;
    padding: 10px;
    font-size: 16px;



}
.button1{
    background-color: #051937;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    font-size: 20px;
    padding: 10px 20px;
}
.button2{
    background-color: #008979;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    font-size: 20px;
    padding: 10px 20px;   
}
